.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   background-color:gray;
   }
nav {
    color:darkblue;
    background-color: gainsboro;
    box-shadow:0px 1px 0px #616060 ;
    margin: 1px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    
}
.logo {
display: flex;
justify-content: flex-start;
flex-basis: 30%;
 alt: "";
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
 .list-item{
    display:inline-block;
    padding: 2px 5px ;
    
 }
.list-item a{
    text-decoration: none;
}
.list-item a:hover{
    color: darkgoldenrod;
}
.section-header{
    
    background-color: linear-gradient(to bottom, #333399 -28%, #ffffff 125%);
   width: 100%;
    margin: 10px;
    color: darkslateblue;
    font-size: 15px;
    display:flex;
    justify-content: center;
    flex-direction:row ;
    gap: 10%;
}
.section-text {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    flex-direction: column;
   justify-content:flex-start;
    margin: 10px;
    position: relative;
    align-items: stretch;
  }
  .text-p1{
      color: white;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
  }
  .text-p2{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 15px;
}
  .section-image {
      display: flex;
      justify-content: flex-end;
    flex-basis: 33%;
    color:darkslateblue;
    width: 100px;
    margin: 10;
    font-size: 15px;
    position: relative;
  }
     button{
    border: none;
    background-color: gold;
    padding: 4px;
    display: inline-block;
    color:lightseagreen;
    cursor: pointer;
    width: 70px;
    border-radius: 10%;
    font-size: 15px;
    text-align: center;
}
.features {
    background-color: thistle;
    
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    padding: 20px;
   

}
  .services{
      color: lightseagreen;
      background-color: white;
      font-size: 30px;
      text-align: center;
  }
 .card {
    box-shadow: 1px 3px 1px #616060;
    max-width: 500px;
  margin: auto;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width:480px) {
  
}

.card-img{
    background-color: gold;
    width: 30px;
    border-radius:  50%;
padding: 4px;
margin: 3px;
}
.title{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.from-container{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    flex-direction:row ;
    gap: 10%;
    
}
.from-text{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-basis: 33%px;
}
.from-text-1{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
.firstname{
    width: 30%;
 display: flex;
 flex-direction: row;
    border-radius: 4px;
    resize: vertical;
}
.city{
    width: 30%; 
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    resize: vertical;
}
.email{
    width: 100%;
        border-radius: 4px;
    resize: vertical;
}
.subject{
    width: 100%;
      border-radius: 4px;
    resize: vertical;
}
.texrarea{
    width: 100%;
    border-radius: 4px;
    resize: vertical;
}

  input[type=submit] {
    background-color: gold;
    color: darkblue;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
   width:40%;
  }
  
  
  
  
  
  @media screen and (max-width: 480px) {
   .from-text, from {
      width: 50%;
      margin-top: 0;
    }
    .footer{
      display:flex;
      justify-content: center;
      flex-direction:row ;
      gap: 10%;
    }
  }
  section-up{
background-color: gainsboro;
display: flex;
justify-content: space-around;
flex-direction: row;

gap: 10px;
  }
  .part-1{
display: flex;
flex-basis: 20%;
justify-items: flex-start;
gap: 10px;
  }
  .big-part{
    display: flex;
    flex-basis: 80%;
   flex-direction: row;
     justify-content: center; 
  }
  .part-2{
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
     justify-content: center; 
  }
  .part-3{
    color:lightseagreen;
    text-align: center;
   
  }
  .part-4{
      color:darkslateblue;
      text-align: center;
      text-decoration: none;
      
  }
  .social-icon 
  {

  }
.section-down{
    background-color:violet;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
}
.link-section-down{
    color: darkblue;
}