.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color:gray
   }
nav {
    color:darkblue;
    background-color: gainsboro;
    margin: 1px;
    padding: 2px;
    display: flex;
    
}
.logo {
display: flex;
justify-content: flex-start;
flex-basis: 30%;
 alt: "";
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
 .list-item{
    display:inline-block;
    padding: 2px 5px ;
    
 }
.list-item a{
    text-decoration: none;
}
.list-item a:hover{
    color: darkgoldenrod;
}
.section-header{
    
    background-color: linear-gradient(to bottom, #333399 -28%, #ffffff 125%);
   width: 100%;
    margin: 10px;
    color: darkslateblue;
    font-size: 15px;
    display:flex;
    justify-content: center;
    flex-direction:row ;
    gap: 10%;
    

}
.section-text {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    flex-direction: column;
   justify-content:flex-start;
    margin: 10px;
    position: relative;
  }
  .text-p1{
      color: darkblue;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
  }
  .text-p1{
    color: darkblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 10px;
}
  .section-image {
      display: flex;
      justify-content: flex-end;
    flex-basis: 33%;
    color:darkslateblue;
    width: 100px;
    margin: 10;
    text-align: center;
    font-size: 15px;
    position: relative;
  }
     button{
    border: none;
    background-color: gold;
    padding: 4px;
    display: inline-block;
    color:lightseagreen;
    cursor: pointer;
    width: 70px;
    border-radius: 20%;
    font-size: 15px;
    text-align: center;
}
  .p3{
      color: lightseagreen;
      background-color: white;
      font-size: 30px;
      text-align: center;
  }
  .raw
{
    background-color: thistle;
    margin-top: 6px;
    align-items: center;
    display: flexbox;
    justify-content: space-between;
    padding: 20px;
    margin: 2px;
}
.card {
    box-shadow: 1px 3px 1px #616060;
    max-width: 500px;
  margin: auto;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}
.raw::after{
content:"" ;
display: table;
clear: both;
}
@media screen and (max-width:480px) {
    column{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    } 
}
.column{
width: 25%;
float: left;
padding: 0px 10px;
}
.card-img{
    background-color: gold;
    width: 30px;
    border-radius:  50%;
padding: 4px;
margin: 3px;
}
.title{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
input[type=text], textarea ,[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: gold;
    color: darkblue;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }
  .containerr {
    margin: 2px;
    background-color: darkblue;
    padding: 20px;
    display: inline-block;
    align-content: space-around;
  }
  
  .col-49 {
    float: left;
    width: 49%;
    margin-top: 3px;
    margin-left: 8PX;
    color: white;
    text-align: left;
    display: flex;
    position: absolute;
  }
  
  .col-51 {
    float: left;
    width: 51%;
    margin-top: 3px;
    text-align: left;
    padding: 10px;
    align-content: space-around;
  }
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 480px) {
    .col-49, .col-51, input[type=submit] {
      width: 50%;
      margin-top: 0;
    }
  }
